Repository NikolaySavenko/domus-sapiens, pull requests merged in 2021-11, with the labels that each got.

#65 #52 Добавил цепь питания и схему подключения модулей для умной розетки
  Embedded/Devices/Prototype smart socket circuit.png
  Embedded/Devices/Smart socket circuit.json
  Embedded/Devices/Smart socket power supply circuit.png
Labels: documentation, design, embedded

#72 feat(quasar): rendered buttons from api
  Frontend/src/assets/dom.png
  Frontend/src/assets/door.png
  Frontend/src/assets/house.png
  Frontend/src/assets/inactivedom.png
  Frontend/src/assets/inactivedoor.png
  Frontend/src/assets/inactivehouse.png
  Frontend/src/assets/inactiveprofile.png
  Frontend/src/assets/inactivesettings.png
  Frontend/src/assets/message.svg
  Frontend/src/assets/plus.png
  Frontend/src/assets/profile.png
  Frontend/src/assets/settings.png
  Frontend/src/components/models.ts
  Frontend/src/css/quasar.variables.scss
  Frontend/src/layouts/MainLayout.vue
  Frontend/src/pages/index.vue
  Frontend/src/pages/information.vue
  Frontend/src/pages/mydevice.vue
  Frontend/src/pages/myrooms.vue
  Frontend/src/pages/profile.vue
  Frontend/src/pages/settings.vue
Labels: frontend

#73 feat(controllers): add send message to iot via controller - #53
  DomusSapiensBackend/FrontendService/Controllers/Actions.cs
  DomusSapiensBackend/FrontendService/FrontendService.csproj
  DomusSapiensBackend/FrontendService/Messages/ActionMessage.cs
  DomusSapiensBackend/FrontendService/Messages/IMessage.cs
Labels: backend

#77 fix(docker): correct build - #76
  DomusSapiensBackend/FrontendService/Dockerfile
  DomusSapiensBackend/FrontendService/FrontendService.csproj
Labels: bug

#81 fix(controller): correct actions controller logic - #80
  DomusSapiensBackend/DomusSapiensBackend.sln
  DomusSapiensBackend/FrontendService/Controllers/Actions.cs
  DomusSapiensBackend/FrontendService/FrontendService.csproj
  DomusSapiensBackend/FrontendService/Messages/ActionMessage.cs
  DomusSapiensBackend/FrontendService/Model/PostgresContext.cs
  DomusSapiensBackend/FrontendService/Program.cs
  DomusSapiensBackend/docker-compose.dcproj
  DomusSapiensBackend/docker-compose.override.yml
  DomusSapiensBackend/docker-compose.yml
Labels: bug, backend

#84 feat(gitignore): add .env file to build docker-compose.yml in .gitignore #82
  .gitignore
Labels: enhancement

#83 #74 #70
  Embedded/Devices/DTD all GPIO controll.json
  Embedded/Devices/Device cases/smart_swich_box v3.stl
  Embedded/Devices/Device cases/smart_switch_wall v3.stl
Labels: documentation, design, embedded

#93 fix(docker-compose): fix database connection with Frontend API - #91
  docker-compose.yml
Labels: automatization

#96 feat(frontend server): write GitHub action to build frontend server - #78
  .github/workflows/build-frontend-server.yml
  Frontend/package.json
  README.md
Labels: documentation, automatization

#97 fix(rest): add rest options - #94
  DomusSapiensBackend/FrontendService/Controllers/Actions.cs
  DomusSapiensBackend/FrontendService/Program.cs
Labels: backend

#98 feat(quasar): added the ability to send requests-#71
  Frontend/src/components/CompositionComponent.vue
  Frontend/src/layouts/MainLayout.vue
  Frontend/src/pages/index.vue
  Frontend/src/pages/information.vue
  Frontend/src/router/index.ts
Labels: documentation, frontend

#103 fix(design): updated the design of the pages
  Frontend/src/css/quasar.variables.scss
  Frontend/src/layouts/MainLayout.vue
  Frontend/src/pages/index.vue
  Frontend/src/pages/information.vue
  Frontend/src/pages/mydevice.vue
  Frontend/src/pages/profile.vue
Labels: design, frontend

#104 fix(api): change adress
  Frontend/src/components/CompositionComponent.vue
  Frontend/src/pages/index.vue
  Frontend/src/pages/information.vue
Labels: documentation, frontend

#105 fix(quasar): remove the hash from the path
  Frontend/quasar.conf.js
  Frontend/src/pages/index.vue
Labels: enhancement, frontend

#106 fix(controllers): replace where first to first or default - #85
  DomusSapiensBackend/FrontendService/Controllers/Actions.cs
  DomusSapiensBackend/FrontendService/Controllers/Users.cs
Labels: enhancement, backend

#109 feat(log): use serilog in iot control - #108
  DomusSapiensBackend/IoTControlService/IoTControlService.csproj
  DomusSapiensBackend/IoTControlService/Program.cs
Labels: documentation, backend

#111 fix(exceptions): add exceptions handling in iot control - #110
  DomusSapiensBackend/IoTControlService/ServiceBusMessaging/HighLevelCommendsConsumer.cs
  DomusSapiensBackend/IoTControlService/ServiceBusMessaging/IoTQueueConsumer.cs
  DomusSapiensBackend/IoTControlService/ServiceBusMessaging/ProcessData.cs
Labels: backend

#113 fix(controllers): add not found support - #112
  DomusSapiensBackend/FrontendService/Controllers/Actions.cs
  DomusSapiensBackend/FrontendService/Controllers/Users.cs
Labels: bug, backend

#115 feat(iot): invoke controller by cloud
  DomusSapiensBackend/FrontendService/Controllers/Actions.cs
  DomusSapiensBackend/FrontendService/Messages/ActionMessage.cs
  DomusSapiensBackend/IoTControlService/IoTControlService.csproj
  DomusSapiensBackend/IoTControlService/Model/Command/Command.cs
  DomusSapiensBackend/IoTControlService/Model/Command/CommandFactory.cs
  DomusSapiensBackend/IoTControlService/Model/Command/IExecutable.cs
  DomusSapiensBackend/IoTControlService/Model/DeviceMethods/GPIOSwitch.cs
  DomusSapiensBackend/IoTControlService/Model/DeviceMethods/IDeviceMethod.cs
  DomusSapiensBackend/IoTControlService/Model/HighLevelAction/HighLevelAction.cs
  DomusSapiensBackend/IoTControlService/ServiceBusMessaging/HighLevelCommendsConsumer.cs
  DomusSapiensBackend/IoTControlService/ServiceBusMessaging/IoTQueueConsumer.cs
  DomusSapiensBackend/IoTControlService/ServiceBusMessaging/ProcessData.cs
Labels: documentation, backend

#116 feat(docker-compose): add enviroment variable for IoTControl Service - #114
  docker-compose.yml
Labels: automatization

#117 fix(quasar): add new button click animations
  Frontend/src/components/CompositionComponent.vue
  Frontend/src/layouts/MainLayout.vue
  Frontend/src/pages/information.vue
Labels: documentation, enhancement, frontend

#118 feat(deploy frontend server): done github action to deploy frontend server - #95
  .github/workflows/deploy-frontend-server.yml
Labels: documentation, backend, automatization
